/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

a {
  color: #3498db;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  #work .container { 
    padding: 0 15px 88px 15px !important;
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #3498db;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #57aae1;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 22px 0;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  background: #fff;
}

#header .logo h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #222222;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 74px;
}
@media (max-width: 768px) {
  #header {
    background: #fff;
  }
  #header .logo h1 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #000;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Merriweather", serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #3498db;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #3498db;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 22px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #2c4964;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #3498db;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}


/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #000;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  font-family: "Merriweather", serif !important;
  color: #000;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #3498db;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 47, 65, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  margin-top: 40px;
}

#hero h1 {
  font: normal normal bold 80px/92px Merriweather;
  color: black;
  margin-bottom: 30px;
}

#hero h2 {
  color: black;
  font: normal normal bold 34px/42px Merriweather;
  letter-spacing: 0.42px;
  margin-bottom: 24px;
}

#hero h3 {
  color: black;
  margin-bottom: 40px;
  font: normal normal normal 22px/30px Poppins;
}
#hero a {
  font: normal normal normal 18px/23px Merriweather;
  letter-spacing: 0.18px;
}
#hero .hero-img img {
  width: 400px;
}
.links a:hover {
  text-decoration: underline;
  color: darkblue;
  transition-duration: .3s;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 1199px) {
  #hero h1 {
    font: normal normal bold 72px/84px Merriweather;
    margin-bottom: 24px;
  }
  #hero h2 {
    font: normal normal bold 28px/38px Merriweather;
    margin-bottom: 20px;
  }
  #hero h3 {
    font: normal normal normal 22px/28px Poppins;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    max-height: none;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
  }
  #hero h1 {
    font: normal normal bold 54px/64px Merriweather;
    margin-bottom: 20px;
  }
  #hero h2 {
    font: normal normal bold 28px/38px Merriweather;
    margin-bottom: 18px;
  }
  #hero h3 {
    font: normal normal normal 22px/28px Poppins;
    margin-bottom: 20px;
  }
  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero h1 {
    font: normal normal bold 48px/60px Merriweather;
    margin-bottom: 18px;
  }
  #hero h2 {
    font: normal normal bold 28px/38px Merriweather;
    margin-bottom: 16px;
  }
  #hero h3 {
    font: normal normal normal 20px/28px Poppins;
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  #hero h1 {
    font: normal normal bold 40px/52px Merriweather;
    margin-bottom: 10px;
  }
  #hero h2 {
    font: normal normal bold 22px/32px Merriweather;
    margin-bottom: 12px;
  }
  #hero h3 {
    font: normal normal normal 16px/26px Poppins;
    margin-bottom: 20px;
  }
  #hero a {
    font: normal normal normal 16px/23px Merriweather;
  }
  #hero #me-info {
    padding-top: 24px !important;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}

.section-title h2::before, .section-title h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.p-card-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 75vh;
  max-height: 580px;
  /*margin-top: 10vh;*/
  padding: 40px 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center !important;
  border-radius: 25px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  padding: 50px;
}
.sectionHeading {
  color: black;
  text-align: left;
}
.products {
  padding: 0px 30px 30px 30px;
}
.img-center {
  padding: 24px;
}
.cardContainer {
  text-align: center;
}
/*.card {
  margin-top: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  border-color: white;
}*/
.hover_card:hover{
  transform: scale(1.05);
  transition-duration: .4s;
  /*box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  border-color: white;*/
}

.card-title {
  margin: 0 0 8px 0 !important;
  font: normal normal bold 52px/75px Merriweather;
  color: black;
  text-shadow: 0px 3px 6px #0000000D;
}
.card-sub-title {
  margin: 0 0 20px 0 !important;
  font: normal normal normal 16px/20px Merriweather;
  color: #000;
}
.technique-id {
  display: inline-block;
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 20px;
  padding: 4px 8px;
  border-radius: 5px;
  /*box-shadow: 0px 3px 6px #00000029;*/
  color: #000;
  font-size: 12px;
}
.card-text {
  margin: 0 0 24px 0 !important;
  font: normal normal normal 18px/28px Poppins;
  color: #000;
}

.case-study-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px 0 0 !important;
}

.btn-case-study{
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0.5px;
  color: white;
  box-shadow: 0px 3px 6px #00000029;
  border-width: 0px;
  border-style:solid;
  border-radius: 7px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding:12px 16px 12px 24px;
  width: 85% !important;
  max-width: 248px !important;
  transition: 0.5s;
}
.btn-case-study a{
  color: white;
}
.btn-case-study i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-style: normal;
}
.btn-case-study:hover {
  background:black;
  border-color:#000000;
  color: white;
  cursor:pointer;
}

/*DellGaming Card Specifics*/
#dellgaming-card-id .btn-case-study{
  background: #558BF9 0% 0% no-repeat padding-box;
  border-color:#558BF9;
}
#dellgaming-card-id .btn-case-study:hover{
  background: black 0% 0% no-repeat padding-box;
}
#dellgaming-card-id .technique-id {
  background: #256dff1f 0% 0% no-repeat padding-box;
}
#cardcolor1.p-card-container {
  background-color: #f0f7ff;
}

/*illuminé Card Specifics*/
#illumine-card-id .btn-case-study{
  background: #0f6489 0% 0% no-repeat padding-box;
  border-color:#e8faef;
  width: 90% !important;
  max-width: 248px !important;
}
#illumine-card-id .btn-case-study:hover{
  background: black 0% 0% no-repeat padding-box;
}
#illumine-card-id .technique-id {
  background: #0f64891f 0% 0% no-repeat padding-box;
}
#cardcolor2.p-card-container {
  background-color: #e8faef;
}

/*DoE Card Specifics*/
#doe-card-id .card-title {
  font: normal normal bold 52px/64px Merriweather;
  margin: 0 0 16px 0 !important;
}
#doe-card-id .technique-id {
  background: #256dff1f 0% 0% no-repeat padding-box;
}
#doe-card-id .btn-case-study{
  background: #094d93 0% 0% no-repeat padding-box;
  border-color:#094d93;
}
#doe-card-id .btn-case-study:hover{
  background: black 0% 0% no-repeat padding-box;
}
#cardcolor3.p-card-container {
  background-color: #dff2fb;
}

@media (max-height: 720px) and (min-width: 1279px) {
  .p-card-container {
    height: 540px;
  }  
}

@media (max-width: 1199px) {
  .card-title {
    font: normal normal bold 50px/72px Merriweather !important;
  }
  .card-text {
    font: normal normal normal 16px/28px Poppins;
  }
}
@media (max-width: 575px) {
  .p-card-container {
    padding: 40px 40px;
  }
}
@media (max-width: 485px) {
  .p-card-container {
    padding: 40px 40px;
  }
  .card-title {
    font: normal normal bold 40px/52px Merriweather !important;
  }
  .card-sub-title {
    margin: 0 0 20px 0 !important;
    font: normal normal normal 16px/20px Merriweather;
    color: #000;
  }
  #frontD.technique-id {
    margin-right: 0 !important;
  }
  .card-text {
    font: normal normal normal 16px/28px Poppins;
  }
}
@media (max-width: 437px) {
  .p-card-container {
    padding: 40px 30px;
  }
  .card-body {
    padding: 20px 10px !important;
  }
  .card-title {
    font: normal normal bold 32px/42px Merriweather !important;
  }
  .card-sub-title {
    margin: 0 0 20px 0 !important;
    font: normal normal normal 14px/20px Merriweather;
    color: #000;
  }
  #frontD.technique-id {
    margin-right: 0 !important;
  }
  .card-text {
    font: normal normal normal 15px/28px Poppins;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-family: 'Merriweather', serif;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  padding-top: 5px;
  color: #222222;
}

#footer .footer-links a {
  color: #222222;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #3498db;
}
